@font-face {
    font-family: 'roboto-bold';
    src: url(assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'roboto-regular';
    src: url(assets/fonts/Roboto-Regular.ttf);
}
html{
    font-family: 'roboto-regular';
}
#top-img-mobile{
    width: 100vw;
}
#content{
    padding: 2rem 1rem;
}
#cta{
    font-family: 'roboto-bold';
    font-size: 35px;
    color: hsl(234, 29%, 20%);
    margin-bottom: 1rem;
}
#sub{
    font-size: 16px;
    color: hsl(235, 18%, 26%);
    margin-bottom: 2rem;
}
#list{
    font-size: 16px;
    color: hsl(234, 29%, 20%);
    margin-bottom: 3rem;
}
#list li{
    display: flex;
    align-items: center;
}
#list li:not(:last-child){
    margin-bottom: 1rem;
}
#list .icon-list{
    align-self: flex-start;
    margin-right: 1rem;
}
#email-text{
    font-size: 14px;
    font-family: 'roboto-bold';
    margin-bottom: 0.5rem;
}
#wrong-email-text{
    font-size: 14px;
    font-family: 'roboto-bold';
    color: hsl(4, 100%, 67%);
    display: none;
}
#email-info{
    display: flex;
    justify-content: space-between;
}
#email-input{
    padding: 1rem;
    width: 100%;
    border: 1px hsl(231, 7%, 60%) solid;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}
#email-input:hover{
    cursor: pointer;
}
#subscribe-btn{
    background-color: hsl(234, 29%, 20%);
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 0.5rem;
}
#subscribe-btn:hover{
    background-color: hsl(4, 100%, 67%);
    box-shadow: hsla(4, 100%, 67%) 0px 5px 15px;
    cursor: pointer;
}

/* success.html specific */
#success-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#success-content{
    margin-top: 5rem;
}
#success-icon{
    width: 70px;
    margin-bottom: 1rem;
}
#thx-msg{
    font-family: 'roboto-bold';
    font-size: 35px;
    color: hsl(234, 29%, 20%);
    margin-bottom: 1rem;
}
#info span{
    font-family: 'roboto-bold';
}
#dismiss-btn{
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}