@font-face {
    font-family: 'roboto-bold';
    src: url(assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'roboto-regular';
    src: url(assets/fonts/Roboto-Regular.ttf);
}
html{
    font-family: 'roboto-regular';
}
#content{
    padding: 2rem 1rem;
}
#cta{
    font-family: 'roboto-bold';
    font-size: 40px;
    color: hsl(234, 29%, 20%);
}
#sub{
    font-size: 16px;
    color: hsl(235, 18%, 26%);
}
#ul{
    font-size: 16px;
    color: hsl(234, 29%, 20%);
}
#top-img-mobile{
    width: 100vw;
}